/* starter */

/*
#2DCC70 green
#566365 h3
#929292 p
gray #F2F2F2

#252F31 contact me
#191E21 licence
*/
*{
    margin: 0px;
    padding: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: 'Karla', sans-serif;
    /* letter-spacing: 1px; */
}

body{
    /* font-family: 'Roboto', sans-serif; */
    background-color: #F2F2F2;
}

main{
    font-size: 1.1em;
}
img{
    image-orientation: from-image;
}
textarea{
    resize: none;
}

.box{
    display: grid;
}

.vertical{
    /* justify-content: center; */
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
}


a, a:focus, a:visited{
    text-decoration: none;
    color: inherit;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

h3, h4{

    color: #191E21;
}

h3{
    text-transform: uppercase;
    font-weight: bold;
}

h4{
    text-transform: uppercase;
    font-weight: bold;
}

h5{
    font-size: 0.9em;
}

p,q,h5{
    font-weight: 400;
    color: #283335;
}

.line{
    background-color: #DBDBDB;
    height: 1px;
}

/* end of starter */


/* start of header */
header{
    display: grid;
    /* align-items: center; */
    /* grid-template-rows: 1fr 1fr 1fr; */
    /* grid-template-columns: 1fr; */
}

header .img_holder{
    grid-row: 1/2;
    grid-column: 1/2;
    width: 100%;
    background-color: #222;
}


header .img_holder img{
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

header .header_center{
    z-index: 1;
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    justify-content: center;
    align-self: center;
    text-align: center;
    color: #FFF;
    /* justify-content: space-around; */
    /* align-items: center; */
}



header .hr{
    /* width: 100%; */
    background-color: #FFF;
    margin: 5px 0px;
    height: 2px;
}

button,
button:focus,
button:active,
button:visited{
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.header-btn,
.header-btn:focus,
.header-btn:active,
.header-btn:visited{
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: rgba(0,0,0,0);
    color: #FFFFFF;
    padding: 10px 20px;
    font-weight: 600;
    border: 2px solid #FFF;
    justify-self: center;
    cursor: pointer;
    outline: none;
}

.header-btn::-moz-focus-inner{
    border: none;
}

main{
    display: grid;
    /* grid-row-gap: 30px; */
}

.nav{
    background-color: #283335;
    display: grid;
    grid-template-columns: 1fr 2fr 4fr 1fr;
    grid-template-areas: '. logo links .';
    /* height: 50px; */
    color: #FFF;
}

.nav .logo{
    padding: 10px 0px;
    grid-area: logo;
}

.nav .nav-items{
    text-align: center;
    grid-area: links;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    align-items: center;
    font-weight: bold;
}
.nav .nav-items a:hover{
    color: #2DCC70;
}

.home{
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    grid-template-areas: '. value goals .';
    /* padding: 50px 0px; */
}

.home .section{
    display: grid;
    padding-right: 40px;
}

.home .section h3{
    margin-bottom: 30px;
}

.home .value{
    grid-area: value;
}

.home .goals{
    grid-area: goals;
}

.home .hobbies{
    grid-area: hobbies;
}


.about-me{
    display: grid;
    grid-template-columns: 3fr 5fr;
}

.about-me .img_holder{
    display: grid;
    padding: 1em;
}

.about-me .img_holder img{
    height: auto;
    width: 100%;
    justify-self: center;
    align-self: center;
    border-style: double;
    border-color: #283335;
    border-width: 5px;
}

.about-me .details{
    /* background-color: #F2F2F2; */
    padding: 30px;
    display: grid;
    grid-row-gap: 30px
}

.about-me .fields{
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: 1fr;
    grid-gap: 30px;
}

.about-me .fields .section{

    display: grid;
    /* grid-auto-flow: column; */

    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    align-content: start;
    /* padding-right: 20px; */
}

.about-me .fields .section i{
    font-size: 2em;
    grid-column: 2/3;
    text-align: center;
    /* margin-right: 20px; */
    color: #2DCC70;
}
.about-me .fields .section h4{
    grid-column: 1/2;
    grid-row: 1/2;
}
.about-me .fields .section p{
    grid-column: 1/4;
    grid-row: 2/3;
    text-align: justify;
}



.my-skills{

    background-color: #D2D2D2;
    padding: 30px 0px;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-areas: '. list .';
    grid-row-gap: 30px;
    align-content: start;
}

.my-skills h3{
    grid-column: 2/3;
    /* padding: 10px 0px; */
}


.my-skills .skill-details{
    grid-column: 2/3;
    display: grid;
    grid-row-gap: 20px;
    align-content: start;
}

.my-skills .contact-me-btn{

    grid-column: 2/3;
    justify-self: center;
    background-color: rgba(0,0,0,0);
    color: #2DCC70;
    padding: 10px 20px;
    font-weight: 600;
    border: 2px solid #2DCC70;
}

.my-skills .contact-me-btn:hover{

    background-color: #2DCC70;
    color: #F2F2F2;
}

.my-skills .skills-list{
    grid-column: 4/5;
    display: grid;
    grid-row-gap: 20px;
    /* padding: 0px 10px; */
}

.my-skills .skill-info{

    grid-column: 2/3;
    align-content: start;
    display: grid;
    grid-row-gap: 10px;
}

.my-skills .skill-info p{
    padding-left: 20px;
    text-align: justify;
}

.my-skills .skill-info a{
    text-decoration: underline;
    color: blue;
    outline: none;
}

.progress-bar {
    width: 100%;
    background-color: #D2D2D2;
    text-align: center;
    display: grid;
    align-items: center;
}
.progress-bar  .bar, .progress-bar .bar-size{
    grid-row: 1/2;
    grid-column: 1/2;
}

.bar {
    width: 70%;
    height: 30px;
    background-color: #2DCC70;
}

.bar-size{
    z-index: 1;
    color: #566365;
    font-weight: bold;
}


.resume{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-row-gap: 30px;
    align-items: start;
    background-color: #D2D2D2;
    padding: 30px 0px;
}
.resume h3{
    text-decoration-line: underline;
    font-size: 1.5em;
    font-weight: bold;
}

.resume *{
    grid-column: 2/3;
}

.resume .download-btn{
    justify-self: center;
    background-color: rgba(0,0,0,0);
    color: #2DCC70;
    padding: 10px 20px;
    font-weight: 600;
    border: 2px solid #2DCC70;
}

.resume .download-btn:hover{

    background-color: #2DCC70;
    color: #F2F2F2;
}

.arrow-down{
    justify-self: center;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 20px solid #D2D2D2;
}


.resume-section{
    padding: 30px 0px;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-row-gap: 30px;
    align-content: start;
}

.resume-section h3 {

    text-decoration-line: underline;
    font-size: 1.5em;
    font-weight: bold;
}

.resume-section h3{
    grid-column: 2/3;
}

.resume-section .resume-list{
    grid-column: 2/3;
    display: grid;
    grid-row-gap: 50px;
}

.resume-section .resume-list .resume-item{
    display: grid;
    grid-row-gap: 20px;
    align-content: start;
    /* vertical-align: baseline; */
}

.resume-section .resume-list .resume-item a:hover{
    text-decoration: underline;
    color: blue;
    outline: none;
}

.resume-section .resume-list .resume-item > :not(h4){
    margin-left: 20px;
}

.resume-section .resume-list .resume-item .point{
    display: grid;
    grid-column-gap: 20px;
    grid-auto-flow: column;
    align-items: center;
    justify-content: start;
}

.resume-section .resume-list .resume-item .point i{
    /* margin-right: 20px; */
    color: #000;
    font-size: 0.5em;
}

.green-box{
    justify-self: start;
    background-color: #2DCC70;
    padding: 5px;
    color: #FFF;
    font-size: 1em;
    font-weight: bold;
}

.border-box{
    margin: 30px 0px;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
}

.border-box .line{
    grid-column: 2/3;
    height: 3px;
    background-color: #566365;
}

.my-work{
    background-color: #D2D2D2;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-row-gap: 30px;
    align-content: start;
}

.my-work h3{
    grid-column: 2/3;
}


.my-work .work-list{
    grid-column: 2/3;
    display: grid;
    grid-row-gap: 50px;
}

.my-work .work-list .work-item{
    display: grid;
    grid-row-gap: 20px;
    align-content: start;
}

.quote{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-row-gap: 30px;
    align-items: start;
    background-color: #D2D2D2;
    padding: 30px 0px;
}

.quote q, .quote h3, .quote .vertical{
    grid-column: 2/3;
}

.quote .vertical{
    grid-column-gap: 10px;
    color: #2DCC70;
}


.portfolio{
    /* background-color: #F2F2F2; */
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-row-gap: 30px;
    padding: 40px 0px;
}

.portfolio h3{
    text-decoration-line: underline;
    font-size: 1.5em;
    font-weight: bold;
}

.portfolio > *{
    grid-column: 2/3;
}

.portfolio .gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-column-gap: 20px; */
    grid-gap: 30px;
}

.portfolio .gallery img{
    width: 100%;
}

.gallery-box{
    display: grid;
    grid-template-rows:1fr;
    border-width: 5px;
    border-style: solid;
    border-color: #252F31}

    .gallery-box img{
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .gallery-box .box-discription{
        opacity: 0;
        background-color: #252F31;
        grid-row: 1/2;
        grid-column: 1/2;
        padding: 5px;
        align-self: end;
    }
    .gallery-box:hover .box-discription{
        -webkit-animation: fadein 0.5s;
        -moz-animation: fadein 0.5s;
        -o-animation: fadein 0.5s;
        -ms-animation: fadein 0.5s;
        animation: fadein 0.5s;
        opacity: 1;
    }

    .resume{
        background-color: #D2D2D2;
    }

    .box-discription p{
        font-size: 0.8em;
        color: #FFF;

    }
    .contact-me{
        color: #fff;
        padding: 30px 0px;
        display: grid;
        grid-row-gap: 30px;
        grid-template-columns: 2fr 5fr 2fr;
        background-color: #252F31;
        align-items: start;
    }

    .contact-me h3,.contact-me p{
        color: #FFF;
    }

    .contact-me h3{
        /* color: #FFF; */
        grid-column: 2/3;
    }

    .contact-me .contact-info{
        grid-column: 2/3;
        display: grid;
        grid-gap: 20px;
    }
    .contact-me .contact-info > p{
        line-height: 2;
    }

    .contact-me .contact-info address{
        color: #fff;
        display: grid;
        grid-row-gap: 10px;
    }

    .contact-me .contact-form{
        grid-column: 4/5;
        display: grid;
        grid-row-gap: 20px;
        color: #FFF;
    }

    .contact-me .contact-form fieldset{
        border-style: none;
        display: grid;
        grid-row-gap: 10px;
    }

    .contact-me .contact-form input,.contact-me .contact-form textarea{
        border-radius: 0px;
        border-style: none;
        padding: 15px 10px;
        font-size: 1em;
        background-color: #4B5557;
        color: #fff;
    }

    .contact-me .contact-form input[type=submit]{
        justify-self: start;
        background-color: #191E21;
        font-weight: bold;
        font-size: 1.2;
        padding: 15px 25px;
    }

    .copywrite{
        padding: 20px 0px;
        display: grid;
        justify-content: center;
        grid-row-gap: 20px;
        background-color: #191E21;
        color: #FFF;
    }

    .copywrite p{
        color: #FFF;
    }

    .social-media{
        display: grid;
        grid-auto-flow: column;
        justify-content: center;
        grid-column-gap: 20px;
    }

    .social-media a{
        font-size: 2em;
        color: #929292;
    }

    .social-media a:hover{
        color: #FFF;
        cursor: pointer;
    }


    @media screen  and (max-width: 1280px) {
        .about-me .fields .section{
            grid-template-columns:1fr 1fr ;
        }
    }


    @media screen  and (max-width: 1110px) {
        .portfolio .gallery{
            grid-template-columns: 1fr 1fr;
        }
    }


    @media screen  and (max-width: 980px) /* Tablet */ {
        .nav{
            grid-template-areas: '. logo .';
            grid-template-columns:1fr 2fr 1fr ;
        }

        .nav .logo{
            text-align: center
        }

        .nav .nav-items{
            display: none;
        }

        .about-me .fields .section{
            grid-template-columns:2fr 1fr ;
        }
    }

    @media screen and (max-width: 700px) /* Mobile */ {
        body{
            font-size: 0.9em;
        }


        .about-me{
            grid-template-columns: 1fr;
        }

        .about-me .img_holder{
            display: grid;
            padding: 10px;

        }
        .about-me .img_holder img{
            height: auto;
            border-radius: 50%;
            width: 30%;
            justify-self: center;
        }


        .about-me .fields .section{
            grid-template-columns:3fr 1fr ;
        }
        .about-me .details{
            padding: 20px 20px;
        }

        .my-skills{
            grid-template-columns: 1fr;
            grid-template-areas: 'list';

            padding: 20px 20px;
        }


        .resume-section{
            grid-template-columns: 1fr 16fr 1fr;
        }

        .portfolio .gallery{
            grid-template-columns: 1fr;
        }
        .gallery-box .box-discription{
            opacity: 1;
            grid-row: 2/3;
        }


        .gallery-box:hover .box-discription{
            animation: none;
        }

    }
    @media screen and (max-width: 400px) /* Mobile */ {

        .about-me .img_holder img{
            width: 50%;
        }



    }
    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Firefox < 16 */
    @-moz-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Internet Explorer */
    @-ms-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    /* Opera < 12.1 */
    @-o-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
